In [1]:
import duckdb
import subprocess
import SQL as sql
import Advanced_SQL as asql
import os

Use this cell to test any sql queries. This can be done in one of the following ways:
1. Fill in the `qry` within the """ """.
2. Call the question functions that you have already filled in from the SQL.py and Advanced_SQL.py files. An example of question_1 being called from the SQL.py file is currently commented out.

This cell can be copied if you wish to run multiple queries.

In [3]:
qry = """SELECT * FROM customers"""
qry = sql.question_1()



with duckdb.connect('database/loan.db') as cursor:
    result_set = cursor.execute(qry).df()

result_set

        Name    Surname
0       aria      malek
1     eileen   augustus
2    charlie      blima
3     wesley     shimon
4    grayson      aziza
5     aliyah    adriana
6      aayan      devin
7    brianna       amir
8    juliana     hunter
9      sarah  christina
10    nelson      rehan
11     henry      noemi
12    alexis      amira
13      emma     camila
14  scarlett      naomi
15   crystal       luna
16     jayce      shevy
17    evelyn    kaitlyn
18     liana     bruchy
19     oumou      jayda
20    camilo     julian
21      paul  gabriella
22     chavy    rebecca
23     jaden    makayla
24     alina     carter
25  gabriela      jesse
26     zamir     alexis

Should you break/incorrectly update any database tables, the database can be reset by running the following cell

In [4]:
load_script_path = 'database/database_load.py'
subprocess.run(['python3', load_script_path])

CompletedProcess(args=['python3', 'database/database_load.py'], returncode=0)