In [41]:
import duckdb
import subprocess
import SQL as sql
import Advanced_SQL as asql
import os

Use this cell to test any sql queries. This can be done in one of the following ways:
1. Fill in the `qry` within the """ """.
2. Call the question functions that you have already filled in from the SQL.py and Advanced_SQL.py files. An example of question_1 being called from the SQL.py file is currently commented out. 
#
Uncomment the `cursor.execute(qry)` line to run any queries that only affect the database and do not return a result set.
#
This cell can be copied if you wish to run multiple queries.

In [42]:
qry = """SELECT * FROM customers"""
qry = sql.question_4()



with duckdb.connect('database/loan.db') as cursor:
    result_set = cursor.execute(qry).df()

result_set

  CustomerClass  Count
0             B    514
1            A+      6
2             A    480

Should you break/incorrectly update any database tables, the database can be reset by running the following cell

In [43]:
load_script_path = 'database/database_load.py'
subprocess.run(['python3', load_script_path])

CompletedProcess(args=['python3', 'database/database_load.py'], returncode=0)