In [1]:
import duckdb
import subprocess
import sql
import Advanced_SQL as asql

Use this cell to test any sql queries. Only fill in 'qry', do not touch the duck!

In [8]:
qry = """SELECT CustomerClass, COUNT(DISTINCT CustomerID) as Count 
             FROM credit 
             GROUP BY CustomerClass"""


with duckdb.connect('loan.db') as cursor:
    # cursor.execute(qry)
    table = cursor.execute(qry).df()

table

  CustomerClass  Count
0             B    514
1            A+      6
2             A    480

#

Should you break/incorrectly update any database tables, the database can be reset by running the following cell

In [7]:
load_script_path = 'database_load.py'
subprocess.run(['python3', load_script_path], check=True)

CompletedProcess(args=['python3', 'database_load.py'], returncode=0)